.Projects {
  @apply bg-black h-[100vh];
}

.Projects__title {
  @apply flex flex-row justify-center lg:pb-16 pb-4  text-green-600 lg:text-[96px] text-6xl pt-20;
}

.Projects__container {
  @apply flex flex-col justify-center items-center;
}

.Projects__project {
  @apply flex flex-col justify-center items-center cursor-pointer;
}

.Projects__projectImage {
  @apply text-white flex items-center justify-center flex-col text-xl;
}

@media screen and (max-width: 768px) {
  .Projects__projectLogo {
    width: 180px !important;
  }
}
@media screen and (min-width: 768px) {
  .Projects__projectLogo {
    width: 320px !important;
  }
}

@media screen and (max-width: 768px) {
  .Projects__projectLogoInvert {
    @apply invert;
    width: 180px !important;
    max-height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .Projects__projectLogoInvert {
    @apply invert;
    width: 320px !important;
    max-height: 220px;
  }
}

.Projects__projectText {
  @apply flex flex-col lg:mb-12 mt-1 lg:w-[30%] mx-4 lg:mx-12 justify-center items-center text-white lg:text-2xl text-lg text-center;
}

.Green {
  @apply text-green-600;
}

.Project__text {
  @apply pt-4 text-center;
}

.Projects__projectLast {
  @apply flex flex-col justify-center items-center cursor-pointer;
}

.Project__downArrow {
  @apply flex w-full justify-center absolute lg:-mt-12;
}

.Project__downArrowIcon {
  @apply w-10 h-10;
}
